body{
  background-color:#004aac; 
  margin-bottom: 30px;
  color: white;
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px;
  }

.Container-img{
  display: grid;
  grid-template-columns:  1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 300px;
  grid-gap: 1.5em;
  

  
  


}

/*Supermercado*/
  header{
  margin: 10px;
  margin-right: 10px;
  color: rgb(241, 241, 237);
  text-align: center;
}


/*Retangulo Seguro Cartões */
.Boxcontainer1{
  margin: 30px;
  border: solid;
  width: 1405px;
  height: 70px;
  justify-content: center;
  display: flex;
  padding-right: 0px;
  align-items: center;
  background-color:#042639;
}
/*TextoSeguro Cartões */
.Boxcontainer1 li{
  color: #ffffff;
  list-style-type: none;
  padding: 52px;
  

  
}

.Box00{
  margin: 30px;
  border: solid;
  width: 1405px;
  height: 70px;
  justify-content: center;
  display: flex;
  padding-right: 0px;
  align-items: center;
  background-color:#FCDF5B; 
}

/*Texto Buscar, Entrar */
.Box00 li{
  color: #004aac;
  list-style-type: none;
  padding: 32px;
  
}

.Box00 a{
  text-decoration: none;
}

/*Retangulo Frete grátis */
.Boxwrape1{
  margin: 30px;
  width: 500px;
  height: 70px;
  justify-content: center;
  display: flex;
  padding-right: 0px;
  align-items: center;
  background-color: #f3f1f1;
  border: solid 10px;
  background-color: #FCDF5B;
  font-family:sans-serif
}

/*Texto Frete Grátis*/
.Boxwrape1 li{
  display: inline-block;
  color:  #004aac;
  font-size: 16px;
  margin-bottom: 0px;
  margin-bottom: 10px;
 
}
 
/*Texto receba suas compras PAREI AQUI    */
.Box000{
background-color: #f3f1f1;
position: relative;
float: right;
top: -119px;
right:  -240px;
width: 338px;
height: 72px;
background-color: #FCDF5B;
border: solid 10px;
}

.Box000 li{
  color: #004aac;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-items: center;
  margin-top: 10px;
  margin-left: 40px;
  
}

.Box000 a{
  text-decoration: none;
}

.container-box{
  display: flex;
  justify-content:space-between;
  padding-left: 10px;
}

/*todas as fotos*/
img{
  margin-left: 0px;
  margin-top: 30px;
  
 }

/*Arroz*/
.Boxwrape2{
  width: 190px;
  height: 269px;
  top: 696px;
  left: 169px;
  border: solid ;
  border-radius: 20px;
  margin-right: 40px;
  background-color: rgb(248, 245, 245);
  padding-left: -30px;
}

/*Texto A rroz Prato Fino*/
.Boxwrape2 li{
  color: #004aac;
 margin-left: 40px;
 list-style-type: none;
  }

  .Boxwrape2 a{
    text-decoration: none;
  }


/*Botão Arroz*/
.Boxwrape2 button{
display: block;
margin-left: 50px;
margin-top: 10px;
border-radius: 5px;
background-color: #FCDF5B;
color: #004aac;

}

/* Img Feijão*/
#img2{
  margin-left: -40px;
}

/*Feijão*/
.One{
  width: 100px;
  height: 269px;
  top: 696px;
  border: solid ;
  border-radius: 20px;
  background-color: rgb(248, 245, 245);
  padding-left: 90px;
}

/*Texto  Feijão Broto Legal*/
.One li{
  color: #004aac;
  margin-left: -40px;
}

/*Botão Feijão*/
.One button{
  display: block;
  margin-left: -30px;
  margin-top: 10px;
  border-radius: 5px;
  background-color: #FCDF5B;
  color: #004aac;;
}

/*Img Leite*/
#img3{
  margin-left: -40px; 
}

/*Leite*/
.Container{
  width: 120px;
  height: 269px;
  top: 696px;
  left: 169px;
  border: solid ;
  border-radius: 20px;
  margin-right: 40px;
  background-color: rgb(248, 245, 245);
  padding-left: 80px;
}
/*Texto Leite Integral Italac*/
.Container li{
  color: #004aac;
  margin-left: -40px;
  margin-top: -12px;
}

/*Botão Leite*/
.Container button{
  display: block;
  margin-left: -30px;
  margin-top: 10px;
  border-radius: 5px;
  background-color: #FCDF5B;
  color: #004aac;;
}

/*Img Óleo*/
#img4{
  margin-left: -40px; 
}

/*Óleo background branco*/
.Four{
  width: 120px;
  height: 269px;
  top: 696px;
  left: 169px;
  border: solid ;
  border-radius: 20px;
  margin-right: 40px;
  background-color: rgb(248, 245, 245);
  padding-left: 80px;
}
/*Texto Óleo Concordia*/
.Four li{
  color: #004aac;
  margin-left: -60px;
  margin-top: -13px;
  text-align: center;
  
}

/*Botão Óleo*/
.Four button{
  display: block;
  margin-right: -30px;
  margin-top: 10px;
  border-radius: 5px;
  background-color: #FCDF5B;
  color: #004aac;;


}

/*Img Batatinha*/
#img5{
  margin-left: -55px;  
}

/*Batatinha*/
.Box{
  width: 120px;
  height: 269px;
  top: 696px;
  left: 169px;
  border: solid ;
  border-radius: 20px;
  margin-right: 40px;
  background-color: rgb(248, 245, 245);
  padding-left: 80px;
}
/*Texto Batatas Lays*/
.Box li{
  color: #004aac;
  margin-left: -40px;
  margin-top: -34px;
  text-align: center;
}

/*Botão Batatinha*/
.Box button{
  display: block;
  margin-right: -30px;
  margin-top: 10px;
  border-radius: 5px;
  background-color: #FCDF5B;
  color: #004aac;;
}

/*Img Biscoito*/
#img6{
  margin-left: -80px;
  padding: 30px;
 }

/*Biscoito*/
.Containertwo{
  width: 120px;
  height: 269px;
  top: 696px;
  left: 169px;
  border: solid ;
  border-radius: 20px;
  margin-right: 40px;
  background-color: rgb(248, 245, 245);
  padding-left: 80px;
  
}
/*Texto Biscoito Nesfit*/
.Containertwo li{
  color: #004aac;
  margin-left: -40px;
  margin-top: -44px;
  text-align: center;
}

/*Botão Biscoito Nesfit*/
.Containertwo button{
  display: block;
  margin-right: -30px;
  margin-top: 10px;
  border-radius: 5px;
  background-color: #FCDF5B;
  color: #004aac;;
}


/*Img Refrigerante*/
#img7{
  margin-left: -80px;
  padding: 30px;
  margin-top: -0px;
}

/*Refrigerante*/
.Boxcontainer0{
  width: 120px;
  height: 269px;
  top: 696px;
  left: 169px;
  border: solid ;
  border-radius: 20px;
  margin-right: 40px;
  background-color: rgb(248, 245, 245);
  padding-left: 80px;
}
/*Texto Refrigerante Sabores*/
.Boxcontainer0 li{
  color: #004aac;
  margin-left: -40px;
  margin-top: -44px;
  text-align: center;
}

/*Botão Refrigerante*/
.Boxcontainer0 button{
  display: block;
  margin-right: -30px;
  margin-top: 10px;
  border-radius: 5px;
  background-color: #FCDF5B;
  color: #004aac;;
}

/*Img Asinha de Frango*/
#img8{
  margin-left: -80px;
  padding: 30px;
  margin-top: -0px; 
}

/*Asinha de Frango*/
.Boxcontainer2{
  width: 120px;
  height: 269px;
  top: 696px;
  left: 169px;
  border: solid ;
  border-radius: 20px;
  margin-right: 40px;
  background-color: rgb(248, 245, 245);
  padding-left: 80px;
}
/*Texto Asinha de frango*/
.Boxcontainer2 li{
  color: #004aac;
  margin-left: -40px;
  margin-top: -44px;
  text-align: center;
}
  
/*Botão Asinha de Frango*/
.Boxcontainer2 button{
  display: block;
  margin-right: -30px;
  margin-top: 10px;
  border-radius: 5px;
  background-color: #FCDF5B;
  color: #004aac;; 
}

/*Img Açucar*/
#img9{
  margin-left: -80px;
  padding: 30px;
  margin-top: -0px;  
}

/*Açucar*/
.Twobox{
  width: 120px;
  height: 269px;
  top: 696px;
  left: 169px;
  border: solid ;
  border-radius: 20px;
  margin-right: 40px;
  background-color: rgb(248, 245, 245);
  padding-left: 80px;
}
/*Texto Açucar União*/
.Twobox li{
  color: #004aac;
  margin-left: -40px;
  margin-top: -44px;
  text-align: center;
}

/*Botão Açucar União*/
.Twobox button{
  display: block;
  margin-right: -30px;
  margin-top: 10px;
  border-radius: 5px;
  background-color: #FCDF5B;
  color: #004aac;; 
}

/*Img Toddy*/
#img10{
  margin-left: -60px;
  padding: 30px;
  margin-top: -0px;   
}

/*Toddy*/
.Fourbox{
  width: 120px;
  height: 269px;
  top: 696px;
  left: 169px;
  border: solid ;
  border-radius: 20px;
  margin-right: 40px;
  background-color: rgb(248, 245, 245);
  padding-left: 80px; 
}
/*Texto Toddy*/
.Fourbox li{
  color: #004aac;
  margin-left: -40px;
  margin-top: -44px;
  text-align: center;
}

/*Botão Toddy*/
.Fourbox button{
  display: block;
  margin-right: -30px;
  margin-top: 10px;
  border-radius: 5px;
  background-color: #FCDF5B;
  color: #004aac;; 
}

/*Img Omo*/
#img11{
  margin-left: -40px;
  padding: 30px;
  margin-top: -0px;  
  margin-left: -90px; 
}

/*Sabão Omo*/
.Fivebox{
  width: 120px;
  height: 269px;
  top: 696px;
  left: 159px;
  border: solid ;
  border-radius: 20px;
  margin-right: 40px;
  background-color: rgb(248, 245, 245);
  padding-left: 80px;
  text-align: center;
}
/*Texto Sabão Omo*/
.Fivebox li{
  color: #004aac;
  margin-left: -40px;
  margin-top: -45px;
  text-align: center;
}

/*Botão Sabão Omo*/
.Fivebox button{
  display: block;
  margin-right: -30px;
  margin-top: 10px;
  border-radius: 5px;
  background-color: #FCDF5B;
  color: #004aac;; 
}

/*Img Café Melita parei aqui */
#Img12{
  margin-left: -100px;
  

}

/*Café Melita*/
.Boxseven{
  width: 120px;
  height: 269px;
  top: 696px;
  left: 169px;
  border: solid ;
  border-radius: 20px;
  margin-right: 40px;
  background-color: rgb(248, 245, 245);
  padding-left: 80px;
}
/*Texto Café Melita*/
.Boxseven li{
  color: #004aac;
  margin-left: -40px;
  margin-top: -10px;
  text-align: center;
}

.Boxseven button{
  display: block;
  margin-right: -30px;
  margin-top: 10px;
  border-radius: 5px;
  background-color: #FCDF5B;
  color: #004aac;
}


.comercial{
  display: flex;
  background-color: #FCDF5B;
  width: 1550px;
  height: 134px;
  margin-left: 60PX;
  margin-top: 40px;
}


 .comercial p{
  padding: 40px;
  font-size: 30PX;
  margin-top: -20PX;
  color: #004aac;
}

#button{
  margin-right: -90px;
}

.Addone{
  display: flex;
  background-color: #FCDF5B;
  width: 1550px;
  height: 134px;
  margin-left: 60PX;
  margin-top: 40px;
}

.BoxStar p{
  margin-bottom: 30px;
}









