body{
  background-color: aqua; 
  margin-bottom: 30px;
  color: white;
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px;
  }

  header{

margin: 10px;
margin-right: 10px;
color: rgb(241, 241, 237);
text-align: center;
  }

